<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gymfitnessapp">

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/dumbbell"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/dumbbell"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Calendar"></activity>
        <activity android:name=".Daily_Training" />
        <activity android:name=".Setting" />
        <activity android:name=".ViewPosture" />
        <activity android:name=".ListExercisesActivity" />

        <receiver
            android:name=".AlarmNotificationReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.example.AlarmNotificationReceiver" />
            </intent-filter>
        </receiver>

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>